# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python
.idea
.venv
__pycache__
catstone.egg-info
.vscode
.pytest_cache
*.pyc
grideye/MLX90640/SPARKFUN CODE/

# Numpy 
*.npy
*.zip

# Project
pics
godec_pics
godec_data
data
bs_pics
bs_gifs
bs_data
bg_model_pics
bg_model_gifs
kalman_filter_gifs
kalman_filter_pics
